{% include 'navbar.html' %}

<div class="container mt-5 pt-5">
    <h2>Histórico de Conexões</h2>
    <div style="
    background-color: white; 
    ">
    <canvas id="historyChart"></canvas>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('historyChart').getContext('2d');
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ dates | tojson }},
                datasets: [{
                    label: 'Dispositivos conectados',
                    data: {{ counts | tojson }},
                    borderColor: 'blue',
                    fill: false
                }]
            }
        });
    </script>
</div>